.container-fluid {
    height: 162px;
    background-color: #eaeaea;
 }
 iframe {
    width: 100%;
    margin: auto;
    border: 1px solid grey;
    border-radius: 20px;
  }

  .btn-send-msg {
    float: right;
  }

   /* .form-control {
         border: 2px double #eee;
      } */
      .container-fluid {
        height: 162px;
        background-color: #eaeaea;
     }

     .product-part1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
     }

     .product-part2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
     }

     .product-part1 img {
        width: 150px;
        height: auto;
     }

     .product-part2 img {
        width: 150px;
        height: auto;
     }

     .set-product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }